{% extends 'base.html' %}
{% block body %}
  

    <div class="container my-3">
      <h2> Update your todo  </h2>
      <form action="/update/{{todo.sno}}" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Todo Title </label>
          <input type="text" class="form-control" id="title" name="title" value="{{todo.title}}"aria-describedby="title">
         
        </div>
        <div class="mb-3">
          <label for="title" class="form-label"> Todo Title</label>
          <input type="text" class="form-control" id="title" value="{{todo.desc}}" name="desc">
        </div>
        <div class="mb-3">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1" >Todo Description</label>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


{% endblock body %}
